# Données brutes (trop lourdes pour git)
data/raw/
data/gold/

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Airflow
logs/
airflow.db
airflow.cfg

# Fichiers locaux
*.dmg
*.pdf
.coverage
*.ipynb
